# Clean dataset

In the previous notebook, we used Web Scraping to collect information from Wikipedia webpages and combine them together in a .CSV file named 'Dataset'. However, this dataset is not available in the most useful format and must be cleaned before any analysis could be performed. Such a scenario is expected to occur as the web pages aren't always designed to make extracting data easy.

Here, we'll understand the dataset columns and try to remove any unnecessary strings and values that bring no value to the dataset.

## Import libraries and read CSV file

We'll first import the Pandas library which enables us to manipulate and work with the dataset. Then, we'll simply read the dataset file we created.

In [1]:
import re
import numpy as np
import pandas as pd

dataset = pd.read_csv("Dataset.csv")
dataset.head(5)

,Country(or dependent territory),Population,% of worldpopulation,Total Area,Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],"1,394,350,000",18.2%,"9,596,961 km2 (3,705,407 sq mi)[g] (3rd/4th)",2.8%[h],$14.092 trillion[16] (2nd),"$10,087[16] (71st)"
1,India[Note 3],"1,337,630,000",17.5%,"3,287,263[5] km2 (1,269,219 sq mi)[d] (7th)",9.6,$2.848 trillion[16] (6th),"$2,134[16] (133rd)"
2,United States[Note 4],"327,918,000",4.28%,"3,796,742 sq mi (9,833,520 km2)[8] (3rd/4th)",6.97,$19.390 trillion[11] (1st),"$59,501[11] (7th)"
3,Brazil,"209,650,000",2.74%,"8,515,767 km2 (3,287,956 sq mi) (5th)",0.65,$2.139 trillion[7] (9th),"$10,224[7] (65th)"
4,Pakistan,"202,169,000",2.64%,"881,913 km2 (340,509 sq mi)[a][18] (33rd)",2.86,$304.4 billion[21] (42nd),"$1,629[22] (145th)"

## Replace the headings

We first begin by replacing the headings of the columns such that they reflect the data in them better. We change the text for the first column to 'Country', the third column to 'Percentage of World Population' and fourth column to 'Total Area (km2)'.

In [2]:
dataset.rename(columns={'Country(or dependent territory)': 'Country'}, inplace = True)
dataset.rename(columns={'% of worldpopulation': 'Percentage of World Population'}, inplace = True)
dataset.rename(columns={'Total Area': 'Total Area (km2)'}, inplace = True)
dataset.head(5)

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],"1,394,350,000",18.2%,"9,596,961 km2 (3,705,407 sq mi)[g] (3rd/4th)",2.8%[h],$14.092 trillion[16] (2nd),"$10,087[16] (71st)"
1,India[Note 3],"1,337,630,000",17.5%,"3,287,263[5] km2 (1,269,219 sq mi)[d] (7th)",9.6,$2.848 trillion[16] (6th),"$2,134[16] (133rd)"
2,United States[Note 4],"327,918,000",4.28%,"3,796,742 sq mi (9,833,520 km2)[8] (3rd/4th)",6.97,$19.390 trillion[11] (1st),"$59,501[11] (7th)"
3,Brazil,"209,650,000",2.74%,"8,515,767 km2 (3,287,956 sq mi) (5th)",0.65,$2.139 trillion[7] (9th),"$10,224[7] (65th)"
4,Pakistan,"202,169,000",2.64%,"881,913 km2 (340,509 sq mi)[a][18] (33rd)",2.86,$304.4 billion[21] (42nd),"$1,629[22] (145th)"

## Analysing the dataset

We see that almost all columns have cells which have data inside parentheses and square brackets which is not required. Thus, we can first remove all paranthesis, square brackets and the content inside them.

In [3]:
for column in dataset.columns:
    dataset[column] = dataset[column].str.replace(r"\(.*\)", "")
    dataset[column] = dataset[column].str.replace(r"\[.*\]", "")

dataset.head(5)

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],"1,394,350,000",18.2%,"9,596,961 km2 (3,705,407 sq mi)[g] (3rd/4th)",2.8%[h],$14.092 trillion[16] (2nd),"$10,087[16] (71st)"
1,India[Note 3],"1,337,630,000",17.5%,"3,287,263[5] km2 (1,269,219 sq mi)[d] (7th)",9.6,$2.848 trillion[16] (6th),"$2,134[16] (133rd)"
2,United States[Note 4],"327,918,000",4.28%,"3,796,742 sq mi (9,833,520 km2)[8] (3rd/4th)",6.97,$19.390 trillion[11] (1st),"$59,501[11] (7th)"
3,Brazil,"209,650,000",2.74%,"8,515,767 km2 (3,287,956 sq mi) (5th)",0.65,$2.139 trillion[7] (9th),"$10,224[7] (65th)"
4,Pakistan,"202,169,000",2.64%,"881,913 km2 (340,509 sq mi)[a][18] (33rd)",2.86,$304.4 billion[21] (42nd),"$1,629[22] (145th)"

Next, we do not need '%' sign in either column 3 or 5, thus, we can strip the cells of it.

In [5]:
dataset['Percentage of World Population'] = dataset['Percentage of World Population'].str.strip('%')
dataset['Percentage Water'] = dataset['Percentage Water'].str.strip('%')
dataset['Percentage Water'] = dataset['Percentage Water'].str.strip()

dataset.sample(5)

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
35,Poland,"38,433,600",0.5,"312,696[7] km2 (120,733 sq mi)[b] (69th)",3.07,$614.190 billion[10] (23rd),"$16,179"
42,Afghanistan,"31,575,018",0.41,"652,864[5] km2 (252,072 sq mi) (40th)",negligible,$21 billion[7],$572[7]
68,Chad,"15,353,184",0.2,"1,284,000 km2 (496,000 sq mi)[2] (20th)",1.9,$11.579 billion[5] (130th),$950[5] (151st)
123,Bosnia and Herzegovina,"3,511,372",0.046,"51,129 km2 (19,741 sq mi) (125th)",1.4,$18.56 billion[6],"$4,836[6]"
38,Saudi Arabia,"33,413,660",0.44,"2,149,690[3] km2 (830,000 sq mi) (12th)",0.7,$748.003 billion[5] (18th),"$22,649[5] (36th)"

Next, we remove commas from Population column.

In [6]:
dataset['Population'] = dataset['Population'].str.replace(',', '')

dataset.head(10)

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],1394350000,18.2,"9,596,961 km2 (3,705,407 sq mi)[g] (3rd/4th)",2.8%[h],$14.092 trillion[16] (2nd),"$10,087[16] (71st)"
1,India[Note 3],1337630000,17.5,"3,287,263[5] km2 (1,269,219 sq mi)[d] (7th)",9.6,$2.848 trillion[16] (6th),"$2,134[16] (133rd)"
2,United States[Note 4],327918000,4.28,"3,796,742 sq mi (9,833,520 km2)[8] (3rd/4th)",6.97,$19.390 trillion[11] (1st),"$59,501[11] (7th)"
3,Brazil,209650000,2.74,"8,515,767 km2 (3,287,956 sq mi) (5th)",0.65,$2.139 trillion[7] (9th),"$10,224[7] (65th)"
4,Pakistan,202169000,2.64,"881,913 km2 (340,509 sq mi)[a][18] (33rd)",2.86,$304.4 billion[21] (42nd),"$1,629[22] (145th)"
5,Nigeria,193392517,2.53,"923,768 km2 (356,669 sq mi) (32nd)",1.4,$376.28 billion[3] (31st),"$1,994[3] (137th)"
6,Bangladesh,165278000,2.16,"147,570[5] km2 (56,980 sq mi) (92nd)",6.4,$285.817 billion[8] (43rd),"$1,754[8] (148th)"
7,Russia[Note 5],146877088,1.92,"17,098,246 km2 (6,601,670 sq mi)[5] (without C...",13[7] (including swamps),$1.719 trillion[9] (12th),"$11,946[9] (67th)"
8,Japan,126420000,1.65,"377,973.89[9] km2 (145,936.53 sq mi)[10] (61st)",0.8,$5.167 trillion[12] (3rd),"$40,849[12] (20th)"
9,Mexico,124737789,1.63,"1,972,550 km2 (761,610 sq mi) (13th)",2.5,$1.250 trillion[6] (16th),"$10,021[6] (69th)"

Now, we will explore the area column. Initially, we see that the information is represented in two units: sq mi and km2. We need to convert all values to km2.

The formula to convert 'sq mi' to km2 is to multiply the value by 2.58999.

First, we check if the cell has the units as 'sq mi', then we multiply it with 2.589999, convert it to integer and save it back to the cell else we simply convert it into integer. Before this, on taking a closer look at the values, some cells have range of areas and as a result we need to split the data at '-' and then take the first value to continue further.

In [18]:
import pandas as pd
import re

# Assuming 'dataset' is your DataFrame and 'Total Area (km2)' is the column to be modified
dataset['Total Area (km2)'] = dataset['Total Area (km2)'].astype(str).str.replace(',', '')

# Define a function to process each row
def process_area(area):
    try:
        if 'sq\xa0mi' in area:
            area_parts = area.split('-')
            area = area_parts[0]  # Get the first part
            area = re.sub(r'[^0-9.]+', '', area)  # Remove non-numeric characters
            return int(float(area) * 2.58999)
        else:
            area = area.split('-')[0]
            area = re.sub(r'[^0-9.]+', '', area)
            return int(float(area))
    except (ValueError, TypeError):
        # Handle cases where the conversion fails or the value is already None
        return None  # Set to a default value or handle accordingly

# Apply the function to the 'Total Area (km2)' column using .loc
dataset.loc[:, 'Total Area (km2)'] = dataset['Total Area (km2)'].apply(process_area)

# Display the modified DataFrame
print(dataset.head(5))

                  Country  Population Percentage of World Population  \
0           China[Note 2]  1394350000                           18.2
1           India[Note 3]  1337630000                           17.5
2   United States[Note 4]   327918000                           4.28
3                  Brazil   209650000                           2.74
4                Pakistan   202169000                           2.64

  Total Area (km2) Percentage Water          Total Nominal GDP  \
0              2.0          2.8%[h]  14.092 trillion[16] (2nd)
1              8.0              9.6   2.848 trillion[16] (6th)
2              9.0             6.97  19.390 trillion[11] (1st)
3              2.0             0.65    2.139 trillion[7] (9th)
4              2.0             2.86   304.4 billion[21] (42nd)

       Per Capita GDP
0  $10,087[16] (71st)
1  $2,134[16] (133rd)
2   $59,501[11] (7th)
3   $10,224[7] (65th)
4  $1,629[22] (145th)

Let's analyse the 'Percentage Water' column further. 
For Algeria, Afghanistan, and some other countries, the value is negligible. Hence, in order to retain data and not drop these rows, we will mark these cells with 0.0.
Chile has the character 'b' in the end which needs to be removed.
For the columns where the value is more than 100, the actual values were missing and other content has been read instead. Thus, we must remove such rows due to lack of information.

In [19]:
import pandas as pd

dataset['Percentage Water'] = dataset['Percentage Water'].str.replace(r'[^0-9.]+', '')

# Remove any percent signs at the end of the string
dataset['Percentage Water'] = dataset['Percentage Water'].str.rstrip('%')

# Filter rows where the 'Percentage Water' can be converted to float
dataset = dataset[dataset['Percentage Water'].str.isnumeric()]

# Convert the 'Percentage Water' column to float
dataset['Percentage Water'] = dataset['Percentage Water'].astype(float)

# Filter rows where the percentage is less than or equal to 100
dataset = dataset[dataset['Percentage Water'] <= 100]

# Display the modified DataFrame
print(dataset.head(5))

             Country Population Percentage of World Population  \
31   Ukraine[Note 9]   42248129                           0.55
57           Romania   19524000                           0.26
64           Ecuador   17084800                          0.223
65            Zambia   16887720                           0.22
70          Zimbabwe   14848905                           0.19

      Total Area (km2)  Percentage Water          Total Nominal GDP  \
31  1563391062080941.0               7.0  112.154 billion[5] (60th)
57    61744660242831.0               3.0  245.590 billion[5] (49th)
64  7344215040204435.0               5.0  109.759 billion[8] (64th)
65                 1.0               1.0          23.137 billion[5]
70  1012057279503852.0               1.0          17.105 billion[7]

       Per Capita GDP
31  $2,640[5] (127th)
57  $12,575[7] (67th)
64          $6,640[8]
65          $1,342[5]
70          $1,149[7]

Total GDP includes the values in the form of trillions, billions and millions. We can remove '$' and convert the words to numbers.

In [9]:
dataset['Total Nominal GDP'] = dataset['Total Nominal GDP'].str.replace('$', '')

for x in range(len(dataset['Total Nominal GDP'])):
    gdp = dataset.iloc[x]['Total Nominal GDP']
    if ('trillion' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000000000)
    elif ('billion' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000000)
    elif ('million' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000)
    else:
        gdp = int(re.sub(r'[^0-9.]+', '', gdp))
    dataset.iloc[x]['Total Nominal GDP'] = gdp

<ipython-input-9-3de4f11bff84>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.iloc[x]['Total Nominal GDP'] = gdp

We can remove the '$' sign as well as comma from the Per Capita GDP as well.

In [10]:
dataset['Per Capita GDP'] = dataset['Per Capita GDP'].str.replace(r'[^0-9.]+', '')

dataset.head(10)

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],1394350000,18.2,9596961 km2 (3705407 sq mi)[g] (3rd/4th),2.8%[h],14.092 trillion[16] (2nd),"$10,087[16] (71st)"
1,India[Note 3],1337630000,17.5,3287263[5] km2 (1269219 sq mi)[d] (7th),9.6,2.848 trillion[16] (6th),"$2,134[16] (133rd)"
2,United States[Note 4],327918000,4.28,3796742 sq mi (9833520 km2)[8] (3rd/4th),6.97,19.390 trillion[11] (1st),"$59,501[11] (7th)"
3,Brazil,209650000,2.74,8515767 km2 (3287956 sq mi) (5th),0.65,2.139 trillion[7] (9th),"$10,224[7] (65th)"
4,Pakistan,202169000,2.64,881913 km2 (340509 sq mi)[a][18] (33rd),2.86,304.4 billion[21] (42nd),"$1,629[22] (145th)"
5,Nigeria,193392517,2.53,923768 km2 (356669 sq mi) (32nd),1.4,376.28 billion[3] (31st),"$1,994[3] (137th)"
6,Bangladesh,165278000,2.16,147570[5] km2 (56980 sq mi) (92nd),6.4,285.817 billion[8] (43rd),"$1,754[8] (148th)"
7,Russia[Note 5],146877088,1.92,17098246 km2 (6601670 sq mi)[5] (without Crime...,13[7] (including swamps),1.719 trillion[9] (12th),"$11,946[9] (67th)"
8,Japan,126420000,1.65,377973.89[9] km2 (145936.53 sq mi)[10] (61st),0.8,5.167 trillion[12] (3rd),"$40,849[12] (20th)"
9,Mexico,124737789,1.63,1972550 km2 (761610 sq mi) (13th),2.5,1.250 trillion[6] (16th),"$10,021[6] (69th)"

In [11]:
dataset.to_csv("Final_dataset.csv", index = False)

## Conclusion

We have iterated through all columns of the dataset and removed unnecesaary characters, and unified all data into a common format. Each column presented its own set of difficulties that had to be tackled with.
The final dataset is ready which we can use for further analysis.